<!DOCTYPE html>
<html>
<head>
<title>节点线路</title>
<#include "header.html" />
</head>
<body>
<div id="userLineApp" v-cloak>
	<div v-show="showList">
		<div class="grid-btn">
			<div class="form-group col-sm-2">
				<select v-model="q.searchBy" class="form-control">
					<option value="">请选择查询项</option>
					<option value="user_ip">ip</option>
					<option value="area">地区</option>
					<option value="port">端口</option>
				</select>
			</div>
			<div class="form-group col-sm-2">
				<input type="text" class="form-control" v-model="q.keyword" @keyup.enter="query" placeholder="请输入查询值">
			</div>
			<a class="btn btn-default" @click="query">查询</a>
			<@shiroPermission role="sys:userLine:save" >
			<a class="btn btn-primary" @click="add"><i class="fa fa-plus"></i>&nbsp;新增</a>
			</@shiroPermission>
			
		</div>
	    <table class="qrcode-box">
			<thead>
				<tr>
					<th>
						<input type="checkbox" class="fan-checkbox" v-model="checkAll" @click="checkedAll()">
					</th>
			        <th>IP</th>
			        <th>地区</th>
			        <th>端口</th>
			        <th>加密方式</th>
			        <th>密码</th>
			        <th>排序</th>

			        <th>比较1</th>
			        <th>比较2</th>
			        
			        <th>是否免费线路</th>
			        
			        <th>线路类型</th>
			        <th>状态</th>
			        
			        <th style="width:12%;">操作</th>
				</tr>
			</thead>
			<tbody>
				<tr v-for="item in params">
					<td><input type="checkbox" :value="item.id" class="fan-checkbox" v-model='ischeckdate' /></td>
			        	<td>{{ item.userIp }}</td>
			        	<td>{{ item.area }}</td>
			        	<td>{{ item.port }}</td>
			        	<td>{{ item.encryptionMode }}</td>
			        	<td>{{ item.password }}</td>
			        	<td>{{ item.level }}</td>

			        	<td>{{ item.comCount }}</td>
			        	<td>{{ item.comCountTwo }}</td>
			        	
			        	<td>{{ item.isFree }}</td>
			        	
			        	<td>{{ item.type }}</td>
			        	<td>{{ item.status == 1 ? '禁用' : '启用' }}</td>
			        	
			        	<td>
			        		<a class="btn btn-primary" href="javascript:void(0)" @click="update(item.id)" >修改</a>
			        		<a class="btn btn-danger" href="javascript:void(0)" @click="del(item.id)" >删除</a>
			        	</td>
				</tr>
			</tbody>
		</table>
	    <uib-pagination :total-items="totalItems" style="padding-left:42% ;float: left;"  v-model="pagination" :max-size="maxSize" :items-per-page="pageSize" class="pagination-sm" :boundary-link-numbers="false" :boundary-links="true" previous-text="上一页" next-text="下一页" first-text="首页" last-text="尾页" :rotate="false" @change="pageChanged" > </uib-pagination>
	    <div class="page-div" >{{pagination.currentPage}}-{{pagination.numPages}}    共{{totalItems}}条</div>
    	<select class="page-select" v-model="pageSize"  @change = "pageNum">
        	<option value="10">10</option> 
        	<option value="20">20</option>
        	<option value="30">30</option>
        </select>
    </div>
     
   	<div v-show="!showList" class="panel panel-default">
		<div class="panel-heading">{{title}}</div>
		<form class="form-horizontal">
			<div class="form-group">
			   	<div class="col-sm-2 control-label">IP</div>
			   	<div class="col-sm-10">
			      <input type="text" class="form-control" v-model="userLine.userIp" placeholder="userIp"/>
			    </div>
			</div>
			<div class="form-group">
			   	<div class="col-sm-2 control-label">地区</div>
			   	<div class="col-sm-10">
			      <input type="text" class="form-control" v-model="userLine.area" placeholder="area"/>
			    </div>
			</div>
			
			<div class="form-group">
			   	<div class="col-sm-2 control-label">端口</div>
			   	<div class="col-sm-10">
			      <input type="text" class="form-control" v-model="userLine.port" placeholder="port"/>
			    </div>
			</div>
			<div class="form-group">
			   	<div class="col-sm-2 control-label">加密方式</div>
			   	<div class="col-sm-10">
			      <input type="text" class="form-control" v-model="userLine.encryptionMode" placeholder="encryptionMode"/>
			    </div>
			</div>
			<div class="form-group">
			   	<div class="col-sm-2 control-label">密码</div>
			   	<div class="col-sm-10">
			      <input type="text" class="form-control" v-model="userLine.password" placeholder="password"/>
			    </div>
			</div>
			<div class="form-group">
			   	<div class="col-sm-2 control-label">排序</div>
			   	<div class="col-sm-10">
			      <input type="text" class="form-control" v-model="userLine.level" placeholder="level"/>
			    </div>
			</div>
			
			<div class="form-group">
			   	<div class="col-sm-2 control-label">是否免费</div>
			   	<div class="col-sm-10">
			      <input type="text" class="form-control" v-model="userLine.isFree" placeholder="isFree"/>
			    </div>
			</div>
			
			<div class="form-group">
			   	<div class="col-sm-2 control-label">比较1</div>
			   	<div class="col-sm-10">
			   	  <input type="hidden" class="form-control" v-model="userLine.defCount" value="1" />
			   	  <input type="hidden" class="form-control" v-model="userLine.refCount" value="1" />
			      <input type="text" class="form-control" v-model="userLine.comCount" placeholder="comCount"/>
			    </div>
			</div>
			<div class="form-group">
			   	<div class="col-sm-2 control-label">比较2</div>
			   	<div class="col-sm-10">
			      <input type="text" class="form-control" v-model="userLine.comCountTwo" placeholder="comCountTwo"/>
			    </div>
			</div>
			
			<div class="form-group">
			   	<div class="col-sm-2 control-label">是否免费线路</div>
			   	<div class="col-sm-10">
			      <input type="text" class="form-control" v-model="userLine.isFree" placeholder="isFree"/>
			    </div>
			</div>
			
			<div class="form-group">
			   	<div class="col-sm-2 control-label">线路类型</div>
			   	<div class="col-sm-10">
			      <input type="text" class="form-control" v-model="userLine.type" placeholder="type"/>
			    </div>
			</div>
			
			<div class="form-group">
				<div class="col-sm-2 control-label">状态</div> 
				<label class="radio-inline">
				  <input type="radio" name="status" value="0" v-model="userLine.status"/> 启用
				</label>
				<label class="radio-inline">
				  <input type="radio" name="status" value="1" v-model="userLine.status"/> 禁用
				</label>
			</div>
			
			<div class="form-group">
				<div class="col-sm-2 control-label"></div> 
				<input type="button" class="btn btn-primary" @click="saveOrUpdate" value="确定"/>
				&nbsp;&nbsp;<input type="button" class="btn btn-warning" @click="reload" value="返回"/>
			</div>
		</form>
	</div>
</div>

<script src="${rc.contextPath}/js/sys/userLine.js?t=${.now?long}"></script>
</body>
</html>